<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TeachQ</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{=URL('static','TeachQ/favicon.ico')}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="{{=URL('static','TeachQ/runtime.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','TeachQ/polyfills.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','TeachQ/styles.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','TeachQ/vendor.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','TeachQ/main.js')}}"></script></body>
</html>
