.clicker-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-choice {
  font-size: 8rem;

  &__chosen {
    background: darkgrey;
  }
}

.correct-choice {
  color: springgreen;
}

.incorrect-choice {
  color: red;
}

.correct {
  color: white;
  background: limegreen;
}

.incorrect {
  color: white;
  background: red;
}
