.router {
  background-color: #F5F5F5;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar-header {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 1rem;
  }
}

.logout {
  color: #673ab7;
  background: white;
}
