<form class="question-item-wrapper" *ngIf="questionFormGroup != null" [formGroup]="questionFormGroup">
  <mat-form-field appearance="outline">
    <mat-label>Question {{questionNumber}}</mat-label>
    <input formControlName="question" matInput placeholder="Enter your question here."/>
  </mat-form-field>

  <mat-radio-group class="question-item-answers" formControlName="answer">
    <mat-radio-button value="A" class="question-item-answer">
      <strong class="question-item-answer__choice">A.)</strong>
      <input formControlName="choiceA" matInput placeholder="Enter your answer here."/>
    </mat-radio-button>
    <mat-radio-button value="B" class="question-item-answer">
      <strong class="question-item-answer__choice">B.)</strong>
      <input formControlName="choiceB" matInput placeholder="Enter your answer here."/>
    </mat-radio-button>
    <mat-radio-button value="C" class="question-item-answer">
      <strong class="question-item-answer__choice">C.)</strong>
      <input formControlName="choiceC" matInput placeholder="Enter your answer here."/>
    </mat-radio-button>
    <mat-radio-button value="D" class="question-item-answer">
      <strong class="question-item-answer__choice">D.)</strong>
      <input formControlName="choiceD" matInput placeholder="Enter your answer here."/>
    </mat-radio-button>
  </mat-radio-group>
</form>
