<div class="main-wrapper">
  <div class="banner">
    <h1 class="banner__title">TeachQ, a Teacher's HQ</h1>
    <h2 class="banner__subtitle">Easy to use quiz builder with real-time, anonymous results</h2>
    <div class="banner__actions">
      <button class="banner__actions__button" mat-flat-button routerLink="/TeachQ/register">Register</button>
      <button class="banner__actions__button banner__actions__button--login" color="primary" mat-flat-button routerLink="/TeachQ/login">Log-in</button>
    </div>
    <img class="banner__preview" src="http://rkhadder.pythonanywhere.com/TeachQ/static/images/preview-teachq.png">
  </div>

  <div class="features">
    <h3>Features include</h3>
    <div class="features__content">
      <div class="feature">
        <mat-icon>create</mat-icon>
        <h4>Easy To Use</h4>
        <span>Create, edit and save question sets with ease.</span>
      </div>
      <div class="feature">
        <mat-icon>pie_chart</mat-icon>
        <h4>Real-time Data</h4>
        <span>See students' answers come in real-time and see their distribution</span>
      </div>
      <div class="feature">
        <mat-icon>history</mat-icon>
        <h4>Complete History</h4>
        <span>Go back to previous presentation to see how classes compared</span>
      </div>
    </div>
  </div>
</div>
