.question-set-content {
  width: 50vw;
}

.question-set-wrapper {
  padding: 1rem;
  overflow-x: hidden;
  height: calc(100vh - 64px - 2rem);
}

.add-question {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;

  &__icon {
    background: #E0E0E0;
    color: #757575;
    font-size: 3.5rem;
    border-radius: .5rem;
    height: auto;
    width: auto;
  }

}

.question-set {
  overflow-y: auto;
  max-height: 25rem;
}

.question {
  margin: 0 8rem 1rem 8rem;
}

.add-question-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
