.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  mat-form-field {
    width: 20rem;
  }
}

.login-actions {
  display: flex;
  flex-direction: column;

  &__span {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;

    span {
      cursor: pointer;
    }
  }
}

.login-wrapper {
  height: calc(100vh - 64px);
}
