<div class="card-wrapper login-wrapper">
  <mat-card class="card-wrapper__card">
    <mat-card-header>
      <mat-card-title>TeachQ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginFormGroup" class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter username"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter password"/>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="rememberMe">Remember me</mat-checkbox>
      </form>
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <button mat-raised-button color="primary" (click)="logIn()">Log in</button>
      <div class="login-actions__sub-actions">
        <button mat-flat-button routerLink="/register">Register</button>
        <button mat-flat-button>Forgot your password?</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
