<div class="teacher-dashboard-wrapper">
  <ng-template *ngIf="loading; then loadingTemplate else dashboard"></ng-template>
  <ng-template #dashboard>
    <ng-template *ngIf="questionSets.length > 0; then content else noContent"></ng-template>
    <ng-template #content>
      <div class="teacher-dashboard-content">
        <mat-card class="question-set-card" *ngFor="let questionSet of questionSets">
          <mat-card-title class="question-set-card__title">
            {{questionSet.title}}
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-content>
            {{questionSet.description}}
          </mat-card-content>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="present(questionSet.id)">Present</button>
            <button mat-menu-item [routerLink]="'/dashboard/questions/' + questionSet.id">Edit</button>
            <button mat-menu-item (click)="delete(questionSet.id)">Delete</button>
            <button mat-menu-item *ngIf="questionSet.presentations.length > 0" [matMenuTriggerFor]="history">History</button>
          </mat-menu>

          <mat-menu #history="matMenu">
            <button mat-menu-item *ngFor="let presentation of questionSet.presentations"
                    (click)="presentHistory(questionSet.id, presentation.id)">
              {{presentation.date | date: 'short'}}
            </button>
          </mat-menu>
        </mat-card>
      </div>
    </ng-template>
    <ng-template #noContent>
      <div class="no-content">
        <h2>You have no question sets :(</h2>
        <h3>Click the plus button in the bottom right corner to create one!</h3>
      </div>
    </ng-template>

    <button mat-fab color="primary" class="teacher-dashboard-add" routerLink="/dashboard/questions/create">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>
  <ng-template #loadingTemplate>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
