<div class="teacher-dashboard-wrapper">
  <div class="teacher-dashboard-content">
    <mat-card>
      yooo
    </mat-card>
    <mat-card>
      yooo
    </mat-card>
    <mat-card>
      yooo
    </mat-card>
    <mat-card>
      yooo
    </mat-card>
    <mat-card>
      yooo
    </mat-card>
    <mat-card>
      yooo
    </mat-card>
    <mat-card>
      yooo
    </mat-card>
  </div>
  <button mat-fab color="primary" class="teacher-dashboard-add" routerLink="/dashboard/create">
    <mat-icon>add</mat-icon>
  </button>
</div>
