.card-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__card {
    padding: 1.5rem 3rem!important;

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
